Body, html {
    width: 100%;
    height: 100%;
    font-family: ABeeZee, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
}

table {
    width: 100%;
    margin: auto;
    border: 0.5px solid #c2c2c2;
    border-spacing: 0;
    border-radius: 4px;
}

th {
    text-align: start;
}

th {
    border-bottom: 0.5px solid #c2c2c2;
    padding: 16px;
}

.info-col {
    color: #444444;
    padding-left: 16px;
    text-align: start;

}

.button-col {
    text-align: center;

}

#delete-button {
    margin-top: 15px;
    background: transparent;
    border: none;
    border-radius: 4px;
    font-family: ABeeZee, sans-serif;
    cursor: pointer;
    padding: 4px;
}

