@charset "UTF-8";

.container {
	padding: 0 20%;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	grid-gap: 1em;
	margin: 2em 0;
}

.cards-container .card {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.cards-container .card .card-main-content {
	border-radius: 4px 4px 0 0;
	background-color: #f5f5f5;
	padding: 12px;
}

.cards-container .card .card-main-content h4 {
	margin: 0;
}

.cards-container .card .card-main-content p {
	margin: 0.5em 0 0.53em 0;
}

.cards-container .card .card-bottom {
	background-color: #535353;
	border-radius: 0 0 4px 4px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.cards-container .card .card-bottom form {
	display: grid;
	justify-self: center;
}

.cards-container .card .card-bottom form button {
	padding: 0.5em;
	margin: 0 0.5em;
	background: transparent;
	border: none;
	cursor: pointer;
}

.cards-container .card .card-bottom form button i {
	color: white;
}

.cards-container .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.new-member-form {
	margin-top: 1em;
	margin-bottom: 1em;
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr;
}

.new-member-form input {
	background-color: #EDEDED;
}

.new-member-form .role-radio-buttons-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1em;
	grid-column-start: 1;
	grid-column-end: 3;
}

.new-member-form .role-radio-buttons-wrapper a {
	color: #535353;
	text-decoration: none;
	align-self: center;
	cursor: text;
}

.new-member-form .role-radio-buttons-wrapper .stv-radio-button {
	position: absolute;
	left: -9999em;
	top: -9999em;
}

.new-member-form .role-radio-buttons-wrapper .stv-radio-button + label {
	padding: 0.5em 1em;
	cursor: pointer;
	border: none;
	color: #535353;
	background-color: #EDEDED;
	border-radius: 4px;
}

.new-member-form .role-radio-buttons-wrapper .stv-radio-button:checked + label {
	background-color: #d6d6d6;
}